@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


 section {
  font-family: "Roboto", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.725)), url(image.jpg);
  min-height: 100vh;
  
 }

 nav h1 {
  padding-top: 1%;
  padding-left: 2%;
  
 }

 nav{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.938);
  background-color:gray;

 }

nav ul {
  padding: 10px;
  float: right;
  list-style-type: none;
  display: flex ;
}
nav ul li {
  padding: 10px;
}
.hello {
background-color: rgba(0, 255, 8, 0.211);
}
.content {
  text-transform: uppercase;
  padding-left: 1%;
}

.content p {
  color: white;
  text-align: center;
  margin-top: 10%;
  border-bottom: 10%;
  font-weight: bolder;
}
 .content h1 {
   margin-top: 3%;
   color: rgb(245, 245, 245);
   font-weight: lighter;
 }
 .years {
  padding-left: 3%;
  font-weight: bolder;
  font-style: oblique;
  font-size: 60px;  
 }

 .offer {
  font-size: 500;
  display: flex;
  justify-content: space-between;
  padding: 2%;
 }

 .Innovate h2 {
   text-transform: bolder;
   color: azure;
   text-transform:uppercase ;
   font-weight: 400;

 }
 .Innovate p {
  color: azure;
  float: right;
 }

 .precision  h2{
  color: azure;
  text-transform: uppercase;
 }
 .precision p {
  color: azure;
 }
 .about{
  font-weight: 800;
  color: azure;
  text-align: center;
 }
 .about h3 {
  font-style: oblique;
 }

.about p{
  margin-top: 2%;
  text-align: center;
  justify-content: center;
}

footer {
  background: linear-gradient(to right,#00093c,#2d0b00);
  border-top-left-radius:125px ;
  color: #fff;
  padding: 2%;
}